/** @format */
//////////////////////////////////////////////////////////////////////////
/////////////////////////////// NAVBAR ///////////////////////////////////
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 7rem;
  width: 100%;

  position: fixed;
  z-index: 1000;

  &-box {
    margin: auto;
    max-width: 120rem;
    height: 100%;
    @include flex-box;
    justify-content: space-between;
    padding: 0rem 5rem;
  }

  &_head {
    font-size: 3rem;
  }

  &_list {
    display: flex;
  }

  &_items {
    font-weight: 500;
    font-size: 1.6rem;

    &-link {
      &:link,
      &:visited {
        padding: 1rem;
        margin: 0 1rem;
        color: #fff;
      }
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////
//////////////////////////// section showcase ///////////////////////////

.showcase {
  width: 100%;
  height: 40rem;

  background-color: var(--primary-color);
  color: var(--light-color);

  @media only screen and (max-width: $bp-medium) {
    height: 50vh;
  }

  &__box {
    max-width: 120rem;
    margin: auto;

    display: grid;
    grid-template-columns: 60% auto;
    gap: 3rem;
    align-items: center;

    overflow: visible;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: 55% auto;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat (2, min-content);

      width: 60rem;
      align-items: end;
      justify-content: center;
    }

    &--text {
      height: 40rem;
      padding: 2rem 5rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        padding: 2rem;
        padding-top: 10rem;
      }

      &--heading {
        font-size: 5rem;
        font-weight: 500;
      }

      &--para {
        font-size: 2.2rem;
        margin: 2rem 0;
      }

      &--btn {
        display: inline-block;
        font-size: 1.8rem;
        color: var(--light-color);
        border: 1px solid #fff;
      }
    }
  }

  &__form {
    position: relative;
    width: 40rem;
    height: 35rem;

    @include flex-box;
    flex-direction: column;
    align-items: flex-start;

    background-color: #fff;
    padding: 4rem;

    top: 7rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: $bp-medium) {
      top: 0;
      width: 100%;
      padding: 5rem 5rem;
    }

    z-index: 100;

    &--heading {
      font-size: 2.2rem;
      color: black;
    }

    &--box {
      width: 100%;

      &--input {
        border: 0;
        outline: none;
        border-bottom: 1px solid #b4becb;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.6rem;

        margin-top: 3rem;

        &--btn {
          background-color: var(--primary-color);
          color: #fff;
          margin-top: 3rem;
        }
      }
    }
  }
}
